.App {
  text-align: center;
}

.model-choice {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.color-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.button-off {
  width: 80%;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  margin: 5px;
  outline-style: none;
  padding: 0 300px;
  box-sizing: border-box;
}

.button-on {
  width: 80%;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  margin: 5px;
  outline-style: none;
  border: blue solid 1px;
  justify-content: center;
}

.buy {
  width: 10%;
  height: 60px;
  border-radius: 30px;
  font-size: 18px;
  margin: 5px;
  outline-style: none;
}

h1 {
  font-size: 40px;
  color: blue;
}

h2 {
  font-size: 30px;
}
